<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link  type="text/css" rel="stylesheet" href="styles/styles.css"></link>
  <title>Battleship</title>
</head>
<body>
<div id="pageDisplay">
  <div class="text-center">
    <h1>Profile</h1>
  </div>
  <div id="username">The destroyer</div>
  <div class="row">
    <div id="profilePicture" class="col col-sm-3">
      <img id="profilePicture" src="http://via.placeholder.com/350x150">
    </div>
    <div class="col col-sm-9">
      <div id="rank">
        Rank :10
      </div>
      <div id="numGamesPlayed">
        Games played: 10
      </div>
      <div id="numGamesWon">
        Games won: 8
      </div>
      <div id="winRate">
        Win rate: 80%
      </div>
      <div id="averageShotsTakenInWin">
        Average Shots Taken in winning games: 42
        Average Shots Taken in winning games: 42
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div>
      Pie chart. Use Chart.js
    </div>
  </div>

</div>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/profile.js"></script>
</body>
</html>
